#index-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(/images/san-francisco-2361226_1920.jpg);
  background-size: cover;
  z-index: 1;
}

#main-index {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: #524D46;
}

.brand-logo {
  margin: 0 10px;
}

.footer-copyright {
  margin: 0 10px;
  background-color:rgba(238,110,115) !important;
}

.card-content {
  background-color: rgba(250,250,240,0.7);
  margin: 20px !important; 
  padding: 20px !important;
  border-radius: 10px;
}

#city_background {
  display: flex;
}

#search_container {
  display: flex ;
  align-items: center;
}

#search_bar {
  margin: 10px;
  color: #524D46;
}

#search_icon {
  margin: auto 10px;
}