/* -------- GENERAL -------- */
.brand-logo {
  margin: 0 20px;
}
.footer-copyright {
  margin: 0 10px;
  background-color:rgba(238,110,115) !important;
}

/* -------- INDEX PAGE -------- */
#index-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(/images/san-francisco-2361226_1920.jpg);
  background-size: cover;
  z-index: 1;
}
#main-index {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder {
  color: #524D46;
}
.card-content {
  background-color: rgba(250,250,240,0.7);
  margin: 20px !important; 
  padding: 20px !important;
  border-radius: 10px;
}
#city_background {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search_container {
  display: flex ;
  align-items: center; 
}
#search_bar {
  margin: 10px;
  color: #524D46;
}
#index-search-button {
  display:flex;
  justify-content: flex-end;
}
#search-container {
  display: flex;
}
.pitstop-logo {
  font-size: 80px;
  text-align: center;
  margin-bottom: 10px;
  color: #524D46;
}
.pitstop-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #524D46;
}

/* -------- NEW PAGE -------- */
#new-main,
#edit-main {
  padding-left: 20px;
}
#new-features,
#edit-features {
  padding-left: 20px;
}
#new-submit-button,
#edit-submit-button {
  margin-left: 20px;
}