<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- jQuery -->
     <!-- <script defer src="/node_modules/jquery/dist/jquery.min.js"></script> -->
     <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
     <!-- Show JS -->
     <script defer type="text/javascript" src="/scripts/scripts.js"></script>
     <!-- Materialize JS -->
     <script defer type="text/javascript" src="/scripts/materialize.min.js"></script>
     <!-- Materialize CSS -->
     <link type="text/css" rel="stylesheet" href="/styles/materialize.css"  media="screen,projection"/>
     <!-- Custom CSS -->
     <link type="text/css" rel="stylesheet" href="styles/styles.css">
     <!-- Google Icons -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <title>Restroom</title>
</head>
<body>
     
     <nav>
          <div class="nav-wrapper">
               <a href="#" class="brand-logo">PitStop</a>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="/restrooms/new">Add New</a></li>
               </ul>
          </div>
     </nav>

     <!-- <div class="row">

               <div class="col s3">
                    <h2>Sidebar</h2>
               </div> -->
     <div class="container">
          <div class="col s9">

               <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="https://picsum.photos/300/400">
                    </div>
                    <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                         <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
               </div>

               <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="https://picsum.photos/300/400">
                    </div>
                    <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                         <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
               </div>

               <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                         <img class="activator" src="https://picsum.photos/300/400">
                    </div>
                    <div class="card-content">
                         <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                         <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                         <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                         <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>

               </div>
          </div>
     </div>

     

     <footer class="page-footer">
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
     
     
</body>
</html>